# workspace1
src/main/webapp/META-INF/
src/main/webapp/META-INF/context.xml

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
# .gitignore 예외 처리
!/src/main/webapp/WEB-INF/lib/mysql-connector-j-8.0.32.jar
!/src/main/webapp/WEB-INF/lib/servlet-api.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
