@charset "UTF-8";

body{
		color: #333;
	    font-family: 'Tahoma', '돋움', dotum, Nanum Gothic, sans-serif;
	    font-size: 12px;
	    font-weight: normal;
	    overflow-x: hidden !important;
	}
.main_ticket_container{
	display: block;
	
}
/* ticketBox.jsp*/

	.ticket_main_box_container{
		display: flex;
		flex-direction: column;
		height: 678px;
		width: 100%;
		align-items: center;
		}
/*ticketTitle.jsp*/


.ticket_container{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}
.ticket_container .ticket_navi{
    
    background: #fff;
    text-align: left;
    
    display: flex;	
    justify-content: flex-end;
    position: relative;
    width: 996px;
    height: 74px;
}
.ticket_container .ticket_navi .newsletter{
	display: block;
    unicode-bidi: isolate;
}   

.ticket_container .ticket_navi .right{
	float: right;
    margin-top: 30px;
}

.ticket_container .ticket_navi .right .button-schedule{
    position: relative;
    display: block;
    float: left;
    margin-left: 5px;
    width: 103px;
    height: 30px;
    overflow: hidden;   
    background-repeat: no-repeat;
    background-position: 0 -90px;
}

.ticket_container .ticket_navi .right .button-reservation-restart{
    position: relative;
    display: block;
    float: left;
    margin-left: 5px;
    width: 120px;
    height: 30px;
    overflow: hidden;

    background-repeat: no-repeat;
    background-position: 0 -120px;
}

/*   티켓 푸터    */
	
	
	
		.ticket_foot{
			width: 100%;
			height: 128px;
			background-color: rgb(30,30,30);
			display:flex;
			justify-content: center;
			align-items: center;
			color: #ccc;
		}
		.ticket_foot .movie{
			display: flex;
			align-items: center;		
			
		}
		.ticket_foot .movie .movie_img img{
		width: 74px;
		height: 104px;	
		}
		.movie .context{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-left: 10px;	
		margin-right: 10px;
		gap: 5px;
		width: 100%;
		
		height: 80px;
		
		color: #ddd;
		}
		.movie .context span.title{
		font-size: 18px;
		font-weight: 600;
		color: #ddd;
		letter-spacing: -0.1px;
		}
		/* 무비 관람등급 아이콘*/
		.movie .context img{
		margin-top: -5px;
		margin-left: -2px;
		height: 15px;
		width: 15px;
		}
		.line{
			display: flex;
			align-items: center;		
			height: 80px;
			border-right: 2px solid #444;
		}
		.foot .title{
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-right: 10px;
		gap: 2px;
		}
		.context{
			width: 100%;
			display: flex;
			flex-direction: column;
			font-weight: 900;
			gap: 2px;
			
		}
		.context.tax_tab{
		width: 120px !important;
		display: flex;
		justify-content: space-between; 
		}
		.tax_tab .tax {
		  width: 100px; /* 전체 박스 너비 여유 있게 조정 */
		  display: flex;
		  flex-direction: column;
		  align-items: flex-end; /* 내부 항목들 오른쪽 정렬 */
		}
		
		.tax_tab .tax .tax_counting {
		  display: flex;
		  flex-direction: row;
		  justify-content: flex-end; /* 오른쪽 정렬 */
		  align-items: center;
		  gap: 5px;
		  white-space: nowrap; /* 줄내림 방지 */
		}
		.seat_tab, .tax_tab, .theater_tab{
			display: flex;
			margin-left: 10px;
			margin-right: 10px;
			align-items: flex-start;
		}
		.seat_tab .context .tax_counting{
			display:flex;
			justify-content: row;
			width: 100%;
			margin-left: 0px;
			margin-right: -10px;
			letter-spacing: -1px;
			white-space: nowrap;
		}
		.seat_tab .context .tax_counting div{
			font-size: 10px;
		}
		.tax_count_txt{
		color: red;
		text-align: right;
		}
		.theater_tab .title{
		width: 50px;
		}
		.tax_count_txt_container{
			display: flex;
			justify-content: flex-end;
			margin-left: 20px;
			margin-right: -10px;
		}
		.ticket_foot_btn_left, .ticket_foot_btn_right {
		    display: inline-block; /* 크기 인식 가능하게 */
		    width: 106px;
		    height: 108px;
		    background: url('/MovieBookingProject/asset/icon/ticketting/ticketBtn.png') no-repeat;		    		    
		    text-indent: -1000px; /* 텍스트 숨김 */
		    overflow: hidden;
		    border: none;
		    cursor: pointer;		    
		}
		
		.ticket_foot_btn_left{
		   	float: left;
		    width: 106px;
		    height: 108px;
		    margin-right: 20px;
		    background-position: 0 0;
		}	
		.ticket_foot_btn_right{
		    position: relative;
		    width: 106px;
		    height: 108px;
		    margin-left: 10px;
		    background-position: -150px -220px;
	}
		.ticket_foot_btn_right.next_btn_seat_before {
			display: flex; /* 포지션 */
			width: 106px; /* 복사 대상 길이 */
			height: 108px; /* 복사 대상 높이 */
			background-position: 0px -218px;
		}
		.ticket_foot_btn_right.next_btn_pay_before {
			display: flex; /* 포지션 */
			width: 106px; /* 복사 대상 길이 */
			height: 108px; /* 복사 대상 높이 */
			background-position: 0px -328px;
		}
		.ticket_foot_btn_right.next_btn_seat_end{
			display: flex; /* 포지션 */
			width: 106px; /* 복사 대상 길이 */
			height: 108px; /* 복사 대상 높이 */
			background-position: -150px, -218px;
		}
		.ticket_foot_btn_right.next_btn_pay_end  {
			display: flex; /* 포지션 */
			width: 106px; /* 복사 대상 길이 */
			height: 108px; /* 복사 대상 높이 */
			background-position: -150px, -328px;
		}
		.ticket_foot_btn_right.next_btn_topay{
			display: flex; /* 포지션 */
			width: 223px; /* 복사 대상 길이 */
			height: 108px; /* 복사 대상 높이 */
			background-position: 0px -548px;
		} 		
		.ticket_foot_btn_left.previous_btn_movie{
		   	float: left;
		    width: 106px;
		    height: 108px;
		    margin-right: 20px;
		    background-position: 0 0;
		}	
		.ticket_foot_btn_left.previous_btn_movie{
		   	float: left;
		    width: 106px;
		    height: 108px;
		    margin-right: 20px;
		    background-position: 0px -110px;
		}	
		
		.ticket_foot a{
		   text-decoration: none;
		   text-overflow: ellipsis;
		   -o-text-overflow: ellipsis;
		   color: #333;
		}
		
		a:-webkit-any-link {
	    color: -webkit-link;
	    cursor: pointer;
	}

	/* 영화예매페이지    */

	    .ticketBox_container{
	   		width: 996px;
	   		height: 550px;
	      	margin: 0;
	      	padding: 0;
	      	display: flex;
	      	justify-content: center;
	      	height: 550px;
	      	overflow: hidden;
	     
	    }
	    .ticketBox_container .column {
	      overflow-y: auto;
	      border-right: 2px solid #ddd;
	      background-color: #f2f0e5; 
	        box-sizing: border-box;
  min-width: 0;
	    }
	     .ticketBox_container .movie, .region, .date, .time-slot {
		      padding: 8px;
		      margin-bottom: 2px;
		      cursor: pointer;
	    }
	 	 .ticketBox_container .column .title{
			border-bottom: 2px solid #ddd;
			background-color: rgb(55,55,55); 
			width: 100%;
			color: rgb(250,250,250);
			text-align: center;
			font-size: 15px;
			font-weight: bolder;
			padding: 6px 0px;		
		}
	/*	영화 스타일	*/
	     .ticketBox_container .movies { width: 20%;  }
	   
	     .ticketBox_container .label {
	      	display: inline-block;
	      	padding: 2px 6px;
	      	font-size: 12px;
	      	font-weight: bold;
	      	margin-right: 5px;
	      	border-radius: 3px;
	    	}
	    .ticketBox_container .label.orange { background-color: orange; color: white; }
	    .ticketBox_container .label.green { background-color: green; color: white; }
	    .ticketBox_container .time-slot span {margin-right: 10px;}
	/*	극장 스타일	*/
	     .ticketBox_container .theaters { width: 20%;  }
	/*	날짜 스타일	*/
	    .ticketBox_container .dates { width: 10%;  }
	    .ticketBox_container .dates .date_month span.year{
	        display: block;
	    	margin-top: 12px;
	    	text-align: center;
	    	color: #666;
	    	font-size: 11px;
	    	font-family: Verdana;
	    	font-weight: bold;
	    	line-height: 11px;
	    }
	    .ticketBox_container .dates .date_month span.month{
	   		display: block;
	    	margin-top: 3px;
	    	text-align: center;
	    	color: #666;
	    	font-size: 30px;
	    	font-family: Verdana;
	    	font-weight: bold;
	    	line-height: 30px;    
	    }
	    .content .date{
	    display: flex;
	    justify-content: center;
	    font-weight: bold;
	    }
	    .content .date span.day{
	       margin-left: 15px;
	      font-weight: bold;
	    }

	/*	시간 스타일	*/    
	    .ticketBox_container .times { width: 50%;  }    
	
	    
	    .ticketBox_container .times .dates div span.day{
	    margin-left: 5px;
	    }
	
	    .ticketBox_container .select {      
	    	outline: 1px solid #5c5c5c;
	    	outline-offset: -2px;
	    	text-align: center;
	    	height: 29px;
	    	line-height: 29px;
		    margin: 1px;
	    	padding-left: 6px;
		    padding-right: 5px;
	    	color: #fff;
	    	background-color: #333;
	    }
	    .time_slot{
		    display: flex;
		    flex-direction: column;
		    justify-content: flex-start;
		    margin-left: 10px;
		    height: auto;
	    }
	    .time_slot strong{
	    	margin-top: 10px;
	    }
	    .time_slot .time_container .theater_time{
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 2.2px 5.5px;
			border: 1px solid #aaa;
			font-weight: 700;
	    }
	    .time_slot .time_container{
	    	margin-top: 10px;
			display: flex;
			flex-direction: row;
			gap: 8px;
			width: 100%;
	    }
	    .time_slot .time_container .time_block{
			  display: flex;
			  align-items: center; /* 세로 중앙 정렬 */
			  gap: 10px;
	    }
	    .left_seat{
	   		color: green;
	    }
	
 /* 스크롤바 */
	    .ticketBox_container .colum .date_list.nano{
	    position: relative;
	    width: 100%;
	    height: 100%;
	    overflow: hidden;
	}
	.nano > .pane > .slider, .nano > .pane-y > .slider-y, .nano > .pane-x > .slider-x {
	    height: 50px;
	    top: 0px;
	    background: #444;
	    background: rgba(0, 0, 0, .5);
	    position: relative;
	    margin: 0px 2px;
	    -moz-border-radius: 3px;
	    -webkit-border-radius: 3px;
	    border-radius: 3px;
	}