<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>MovieBookingProject</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>meController</servlet-name>
		<servlet-class>controller.MemberController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>meController</servlet-name>
		<url-pattern>*.me</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>meWebController</servlet-name>
		<servlet-class>controller_api.MemberController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>meWebController</servlet-name>
		<url-pattern>*.mew</url-pattern>
	</servlet-mapping>

	<!-- movie, api controller -->
	<servlet>
		<servlet-name>moController</servlet-name>
		<servlet-class>controller_api.MovieController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>moController</servlet-name>
		<url-pattern>*.mo</url-pattern>
	</servlet-mapping>

	<!-- movie, web controller -->
	<servlet>
		<servlet-name>moWebController</servlet-name>
		<servlet-class>controller.MovieController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>moWebController</servlet-name>
		<url-pattern>*.mow</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>tiController</servlet-name>
		<servlet-class>controller.TicketController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tiController</servlet-name>
		<url-pattern>*.ti</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>reController</servlet-name>
		<servlet-class>controller.ReviewController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>reController</servlet-name>
		<url-pattern>*.re</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>voController</servlet-name>
		<servlet-class>controller.ViewController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>voController</servlet-name>
		<url-pattern>*.vo</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>apiController</servlet-name>
		<servlet-class>controller.APIController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>apiController</servlet-name>
		<url-pattern>*.api</url-pattern>
	</servlet-mapping>








	<!-- DB 설정, 맨 아래 배치 할 것 -->
	<resource-ref>
		<description>Connection</description>
		<res-ref-name>jdbc/MysqlDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

</web-app>